<div class="row mt-4 mb-4">
  <% @power_generators.each do |power_generator| %>

    <div class="col-lg-6 col-md-6">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-4">
            <%= image_tag power_generator.image_url, class: 'card-img' %>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="card-body">
              <h2 class="card-title"><%= power_generator.name.upcase %></h2>
              <p class="card-text power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
              <p class="card-text"><strong>Descrição: </strong><%= power_generator.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
