<footer>
  <br>
  <div class="container">
    <div class="row">
      <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 text-center">

        <p class="text-center">Copyright &copy; <%= Date.today.year %> - All Rights Reserved -
          <a href="http://gilcierweb.com.br">gilcierweb.com.br</a> - Desenvolvido por: GilcierWeb - Site criado com o Framework
          <a href="https://rubyonrails.org/">Ruby on Rails</a>
        </p>

        <p class="text-center">Site melhor visualizado com navegadores modernos como:
          <a href="https://browsehappy.com/" title="Mozilla Firefox" target="_blank">Firefox</a>,
          <a href="https://browsehappy.com/" title="Opera" target="_blank">Opera</a>,
          <a href="https://browsehappy.com/" title="Google Chrome" target="_blank">Chorme</a>,
          <a href="https://browsehappy.com/" title="Apple Safari" target="_blank">Apple Safari</a>
        </p>

      </div>
    </div>
  </div>
</footer>
