<header class="header row mb-4">

  <div class="col-lg-6 col-md-6">
    <div class="logo text-left"><%= link_to(root_path, title: 'Portal Solar') do %><%= image_tag 'ps_logo.png' %><% end %></div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="header__title text-right">Geradores de Energia</div>
  </div>

</header>
<div class="clearfix"></div>
